image: node:8


variables:
  # Configure postgres service (https://hub.docker.com/_/postgres/)
  POSTGRES_DB: cgawsbrokerprodgq3wrvn8c8a772q
  POSTGRES_USER: utz6kah1zq8t2nyg
  POSTGRES_PASSWORD: ***REMOVED***


stages:
  - test

cache:
  untracked: true
  key: "$CI_COMMIT_REF_NAME"
  paths:
    - node_modules/

services:
   - postgres

connect:
  image: postgres
  stage: test
  script:
    - export PGPASSWORD=$POSTGRES_PASSWORD
    - psql -h "postgres"  $POSTGRES_DB $POSTGRES_USER < srt-database.sql

test_with_lab:
  stage: test
  coverage: '/All files[^0-9]*\d+\.\d+/'
  artifacts:
    paths:
      - coverage/
  script:
    - npm install
    - export NODE_ENV=gitlab
    - npm test