# Javascript Node CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-javascript/ for more details
#
version: 2
jobs:
  build:
    docker:
      # specify the version you desire here
      - image: circleci/node:8.15
        environment:
          NODE_ENV: circleci

      - image: circleci/postgres:9.6.8
        environment:
          POSTGRES_USER: circleci
          POSTGRES_DB: srt
          POSTGRES_PASSWORD: srtpass

    working_directory: ~/repo

    steps:
      - checkout

      - run: sudo apt update
      - run: sudo apt install postgresql-client

      - run:
          name: Waiting for PostgreSQL to start
          command: |
            for i in `seq 1 10`;
            do
              nc -z localhost 5432 && echo Success && exit 0
              echo -n .
              sleep 2
            done
            echo Failed waiting for Postgres && exit 1

      # Download and cache dependencies
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package.json" }}
            # fallback to using the latest cache if no match
            - v1-dependencies-

      - run: npm install

      - run: cp srt-db.crypt srt-database.sql.gz
      - run: ./node_modules/.bin/cryptify -p ${CRYPTIFY} -d srt-database.sql.gz
      - run: rm srt-database.sql || true
      - run: gzip -d srt-database.sql.gz
      - run: export PGPASSWORD=srtpass && psql -h "localhost"  srt circleci < srt-database.sql
      - run: ./node_modules/.bin/sequelize --url 'postgresql://circleci:srtpass@localhost/srt' db:migrate

      - run:
          name: Run Tests
          environment:
            NODE_ENV: circle
          command: npm run test

      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}
